<body class="index_container">
    <!-- Page Content -->
    <div class="container">
        <div class="row">
          <div class="col-md-3">
              <!-- Blog Categories Well -->
              <div class="index_well">
                  <h4 class="index_heading">Trending Categories</h4>
                  <div class="row">
                      <div class="col-lg-12">
                          <ul class="list-unstyled">
                              <li><a href="#">Category Name</a>
                              </li>
                              <li><a href="#">Category Name</a>
                              </li>
                              <li><a href="#">Category Name</a>
                              </li>
                              <li><a href="#">Category Name</a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <!-- /.row -->
              </div>

              <!-- Side Widget Well -->
              <div class="index_well">
                  <h4 class="index_heading">Side Widget Well</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
              </div>

          </div>


            <!-- Blog Post Content Column -->
            <div class="col-lg-6">

              <div class="tweet_well">
                  <h4 class="index_heading">Tweet:</h4>
                   <%= form_for(:post, :html => { :id => "form-tweet" }) do |f| %>
              			  <%= f.text_field :content, id: "tweet-text", class: "tweet_text", :placeholder => "140 characters or less..." %>
                      <%= f.hidden_field :user_id, id: "user-id", :value => current_user.id %>
              			  <%= f.submit "Send Tweet", id: "tweet-button", class: "tweet_btn" %>
              			<% end %>
              </div>

                <hr>

                <!-- Tweets -->

                <div class="media">
                  <% @posts.reverse.each do |post| %>
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading"><%= post.user.first_name %>
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        <p class="tweet_content"><%= post.content %></p>
                    </div>
                    <hr>
                    <% end %>
                </div>
            </div>



            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-3">

                <!-- Blog Search Well -->
                <div class="index_well">
                    <h4 class="index_heading">Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="index_well">
                    <h4 class="index_heading">Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="index_well">
                    <h4 class="index_heading">Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>




</body>
